body {
	background-color: #f3f2ef;
	box-sizing: border-box;
	margin: 0;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

header {
	background-color: #fff;
}

li .current {
	color: cornflowerblue;
}