body {
	background-color: #f3f2ef;
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

header {
	background-color: #fff;
}

nav {
	background-color: #fff;
}

li .current {
	color: cornflowerblue;
}

.error-message {
	font-size: 0.8em;
	color: rgb(255, 87, 87);
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}